:root {
  --nero-color: #262626;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 0.9375rem;
  line-height: 1.5;
}

a {
  color: var(--nero-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* nav  */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  padding: 1.25rem 0;
  font-size: 0.8125rem;
}

.main-nav .logo {
  width: 6.875rem;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 0.625rem;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover .nav-icon {
  border-bottom: 2px solid var(--nero-color);
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 1.25rem;
}

.main-nav ul.right-menu li i {
  padding-left: 0.625rem;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 0.625rem 1.25rem;
  background: var(--nero-color);
  color: #fff;
  font-size: 0.9375rem;
}

.btn:hover {
  opacity: 0.9;
}

.dark {
  color: #fff;
}

.dark .btn {
  background: #f4f4f4;
  color: var(--nero-color);
}

/* showcase */
.showcase {
  width: 100%;
  height: 25rem;
  background: url("./img/showcase.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 3.125rem;
  margin-bottom: 1.25rem;
}

.showcase h2,
.showcase p {
  margin-bottom: 0.625rem;
}

.showcase .btn {
  margin-top: 0.9375rem;
}

/* home cards */
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;
  margin-bottom: 2.5rem;
}

.home-cards img {
  width: 100%;
  margin-bottom: 1.25rem;
}

.home-cards h3 {
  margin-bottom: 0.3125rem;
}

.home-cards a {
  display: inline-block;
  padding-top: 0.625rem;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
}

.home-cards a:hover {
  border-bottom: 2px solid #0067b8;
}

.home-cards a:hover i {
  margin-left: 0.625rem;
}

/* xbox */
.xbox {
  width: 100%;
  height: 21.875rem;
  background: url("img/xbox.png") no-repeat center center/cover;
  margin-bottom: 2rem;
}

.xbox .content {
  width: 40%;
  padding: 3.125rem 0 0 1.875rem;
}

.xbox p,
.carbon p {
  margin: 0.625rem 0 1.25rem;
}

/* cards 2 */
.for-work {
  margin-bottom: 0.625rem;
}

/* carbon */
.carbon {
  width: 100%;
  height: 21.875rem;
  background: url("img/carbon.png") no-repeat center center/cover;
  margin-bottom: 2rem;
}

.carbon .content {
  width: 55%;
  padding: 6rem 0 0 1.875rem;
}

/* follow */
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1.875rem 0 1.875rem;
}

.follow img {
  width: 1.6875rem;
}

.follow * {
  font-size: 0.875rem;
  color: grey;
  margin-right: 0.625rem;
}
